<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-body fixed-top shadow-lg">
    <div class="container-xxl">

        <a class="navbar-brand" href="/">
            <img src="/static/images/logo/logo-chatterlyn-light.svg" style="height: 2rem; width: auto;" alt="Chatterlyn">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Offcanvas -->
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
            <div class="offcanvas-header">
                <a class="offcanvas-title" href="/">
                    <img src="/static/images/logo/logo-chatterlyn-light.svg" style="height: 2rem; width: auto;" alt="Chatterlyn">
                </a>

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="/register">
                            <button class="btn btn-primary" type="button">Create account</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</nav>
<!-- Navbar -->