{% extends "base.html" %}

{% block title %}Create account{% endblock %}

{% block content %}

    {% include "navbar.html" %}

    <section id="register" class="d-flex container-fluid p-0" style="min-height: 100svh;">

            <div class="row flex-grow-1 m-0">

                
                <div class="position-relative z-1 shadow-lg col-12 col-xl-6 px-xl-5 d-flex align-items-center justify-content-center bg-body-secondary">
                    
                    <!-- Image (visible on small screens) -->
                    <div class="d-xl-none position-absolute top-0 start-0 w-100 h-100 z-0 overlay2">
                        <img src="/static/images/register.webp" class="w-100 h-100 object-fit-cover" alt="Chatterlyn hero">
                    </div>
                    <!-- End Image -->

                    <!-- Form section -->
                    <div class="d-flex position-relative z-1 flex-grow-1 gap-2 flex-column p-5 rounded-4 shadow-lg bg-body" style="max-width: 700px;">

                        <div>
                            <h1 class="fs-1 fw-bold">Create account</h1>
                            <p class="lead fw-semibold">Enter your information to continue</p>
                        </div>

                        <form action="/register" method="post">
                            <label for="username" class="form-label">Username:</label>
                            <div class="mb-3 input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                </span>
                                <input id="username" class="form-control bg-body-secondary" placeholder="Ex: john_doe" name="username" type="text" autocomplete="off" autofocus required>
                                <!-- Username validation tooltip -->
                                <span class="input-group-text" >
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Between 4 and 20 characters. Only letters, numbers, _, . and -">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                        </svg>
                                    </span>
                                </span>
                                <!-- tooltip -->
                            </div>


                            <label for="password" class="form-label">Password:</label>
                            <div class="mb-4 input-group">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                                    </svg>
                                </span>
                                <input id="password" class="form-control bg-body-secondary" placeholder="••••••••••" name="password" type="password" autocomplete="off" required>
                                <!-- Password validation tooltip -->
                                <span class="input-group-text" >
                                    <span data-bs-toggle="tooltip" data-bs-placement="right" data-bs-title="Between 4 and 20 characters. Must contain at least one letter and one number">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
                                        </svg>
                                    </span>
                                </span>
                                <!-- End tooltip -->
                            </div>


                            <button class="btn btn-lg btn-animate btn-primary shadow-lg w-100" type="submit">
                                Create my account
                                <svg xmlns="http://www.w3.org/2000/svg" width="1.3em" height="1.3em" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                                </svg>
                            </button>
                        </form>

                        <hr class="border rounded-3 border-2 border-primary">

                        <p class="lead mb-0">
                            <span class="fw-semibold">Already have an account?</span>
                            <a href="/login" class="link-primary fw-bold">
                                Sign in
                            </a>
                        </p>

                    </div>
                    <!-- End Form section --> 


                </div>
                 

                
                <div class="d-none d-xl-flex col-xl-6 overflow-hidden position-relative z-0 overlay2">

                    <!-- Background image -->
                    <img src="/static/images/register.webp" class="position-absolute top-0 start-0 w-100 h-100 object-fit-cover" alt="Chatterlyn hero">
                    <!-- End Background image -->
                    
                    <!-- Promotional text -->
                    <div class="position-absolute z-1 top-50 start-50 translate-middle auth-title">
                        <h3 class="display-6 fw-semibold">Join us!</h3>
                        <p class="lead fw-semibold" >Create your account in seconds and start enjoying the experience</p>
                    </div>
                    <!-- End Promotional text -->
                    
                    <div class="position-relative z-1 w-100 h-100 d-xl-flex justify-content-around">

                        <!-- Floating feature cards -->
                        <div class="d-flex align-self-end align-items-center p-3 gap-3 rounded-4 bg-body burbujas-flontando" style="width: 350px; margin-bottom: 100px;">

                            <div class="d-flex align-items-center justify-content-center p-2 rounded-4 text-bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-gift-fill" viewBox="0 0 16 16">
                                <path d="M3 2.5a2.5 2.5 0 0 1 5 0 2.5 2.5 0 0 1 5 0v.006c0 .07 0 .27-.038.494H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h2.038A3 3 0 0 1 3 2.506zm1.068.5H7v-.5a1.5 1.5 0 1 0-3 0c0 .085.002.274.045.43zM9 3h2.932l.023-.07c.043-.156.045-.345.045-.43a1.5 1.5 0 0 0-3 0zm6 4v7.5a1.5 1.5 0 0 1-1.5 1.5H9V7zM2.5 16A1.5 1.5 0 0 1 1 14.5V7h6v9z"/>
                                </svg>
                            </div>

                            <div class="flex-grow-1">
                                <div class="fs-5 fw-semibold">Free forever</div>
                                <div>All features at no cost</div>
                            </div>
                            
                        </div>


                        <div class="d-flex align-self-start align-items-center p-3 gap-3 rounded-4 bg-body burbujas-flontando" style="width: 320px; margin-top: 100px;">

                            <div class="d-flex align-items-center justify-content-center p-2 rounded-4 text-bg-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" fill="currentColor" class="bi bi-database-fill-check" viewBox="0 0 16 16">
                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514M8 1c-1.573 0-3.022.289-4.096.777C2.875 2.245 2 2.993 2 4s.875 1.755 1.904 2.223C4.978 6.711 6.427 7 8 7s3.022-.289 4.096-.777C13.125 5.755 14 5.007 14 4s-.875-1.755-1.904-2.223C11.022 1.289 9.573 1 8 1"/>
                                <path d="M2 7v-.839c.457.432 1.004.751 1.49.972C4.722 7.693 6.318 8 8 8s3.278-.307 4.51-.867c.486-.22 1.033-.54 1.49-.972V7c0 .424-.155.802-.411 1.133a4.51 4.51 0 0 0-4.815 1.843A12 12 0 0 1 8 10c-1.573 0-3.022-.289-4.096-.777C2.875 8.755 2 8.007 2 7m6.257 3.998L8 11c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13h.027a4.55 4.55 0 0 1 .23-2.002m-.002 3L8 14c-1.682 0-3.278-.307-4.51-.867-.486-.22-1.033-.54-1.49-.972V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16c.536 0 1.058-.034 1.555-.097a4.5 4.5 0 0 1-1.3-1.905"/>
                                </svg>
                            </div>

                            <div class="flex-grow-1">
                                <div class="fs-5 fw-semibold">24/7 Access</div>
                                <div>Guaranteed availability without interruptions</div>
                            </div>
                            
                        </div>
                        <!-- End Floating feature cards -->
                    
                    </div>
                    

                    
                </div>
                

            </div>

    </section>

    
    {% include "footer.html" %}

{% endblock %}

{% block scripts %}

    <script>
        // Enable tooltips
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        // Bootstrap creates and binds tooltip event listeners on instantiation
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>

{% endblock %}
